* {
  margin: 0px;
  padding: 0px;
  color: #404040;
  background-color: #f2f2f2

}

body {
  font-family: 'PT Sans Caption', sans-serif;
}

/***************
Header Styles
****************/

#siteheader {
  margin-top: 25px;
  margin-left: 50px;
}
.siteheader {
  display:inline-block;
}
.siteheader h2 {
  display: inline;
}
#siteheader-nav {
  vertical-align: middle;
}
#siteheader-svg {
  margin-left: 25px;
  margin-right: 25px;
    vertical-align: top;
}
#home-link {
  display: inline;
  margin-left: 0px;
  text-decoration: none;
}
#siteheader-list {
  margin-left: 25px;
}
#siteheader-list li {
  display:inline;
  margin-left: 25px;
}

#siteheader-list li a {
  text-decoration: none;
}

/***************
SVG Styles
****************/

#siteheader-svg .line {
  fill: ##404040;
}

/***************
About Styles
****************/
#about {
  margin-top: 100px;
  margin-left: 50px;
  width:80%;
}
#about-body {
  margin-top: 25px;
}

.about-txt {
  margin-bottom: 25px;
}
#about ul {
  margin-left: 25px;
}

/***************
Work Styles
****************/
#work {
  margin-top: 50px;
  margin-left: 50px;
  width:80%
}
#work-container {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 25px;
}
#work-ilist {
  margin-left:auto;
  margin-right: auto;
}
#work-ilist li {
  display:inline;
  margin-right: 15px;
  width:50%
}
#work-ilist li img {
  border: 5px solid #404040;
  margin-bottom: 15px;
}

#work-ilist li img:hover {
  opacity: 0.3;
}
