* {
  margin: 0px;
  padding: 0px;
  color: #404040;
}

body {
  font-family: 'PT Sans Caption', sans-serif;
  background-color: #f2f2f2

}

/***************
Header Styles
****************/

#siteheader {
  margin-top: 25px;
  margin-left: 50px;
}
.siteheader {
  display:inline-block;
}
.siteheader h2 {
  display: inline;
}
#siteheader-nav {
  vertical-align: middle;
}
#siteheader-svg {
  margin-left: 25px;
  margin-right: 25px;
    vertical-align: top;
}
#home-link {
  display: inline;
  margin-left: 0px;
  text-decoration: none;
}
#siteheader-list {
  margin-left: 25px;
}
#siteheader-list li {
  display:inline;
  margin-left: 25px;
}

#siteheader-list li a {
  text-decoration: none;
}

/***************
SVG Styles
****************/

#siteheader-svg .line {
  fill: ##404040;
}


/***************
Work Styles
****************/
#work-container {
  margin-top: 50px;
  margin-left: 50px;
  width:80%
}
#work-text {
  margin-top: 50px;
  width: 80%
}
#work-post-text {
  margin-top: 0px;
  margin-bottom: 50px;
  width: 80%
}
#work-control {
  margin-top: 15px;
}

.app-control {
  display: inline;
}

#chart {
  font-family: sans-serif;
  margin-top: 25px;
  width: 100%;
  max-width: 1030px;
  min-width: 1030px
}

.pline {
/*	stroke: steelblue; */
	stroke-width: 1.5;
	stroke-opacity:; 0.25;
	fill: none;
}

.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

.brush .extent {
  fill-opacity: .3;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.plabel {
  font-size: 11px
}


#tooltip {
        position: absolute;
        width: 200px;
        height: auto;
        padding: 10px;
        background-color: white;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        pointer-events: none;
}

#tooltip.hidden {
        display: none;
}

#tooltip > p {
        margin: 0;
        font-family: sans-serif;
}
