* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
}

/***************
Header Styles
****************/

#siteheader {
  margin-top: 25px;
  margin-left: 50px;
}
.siteheader {
  display:inline-block;
}
#siteheader-svg {
  margin-left: 25px;
  margin-right: 25px;
}
#home-link {
  margin-left: 25px;
  text-decoration: none;
  color: #000000;
}

#siteheader-list {
  margin-left: 25px;
}
#siteheader-list li {
  display:inline;
  margin-left: 25px;
}

#siteheader-list li a {
  text-decoration: none;
  color: #000000;
}

/***************
About Styles
****************/
#about {
  margin-top: 100px;
  margin-left: 50px;
  width:70%;
}
#about-body {
  margin-top: 25px;
}

/***************
Work Styles
****************/
#work {
  margin-top: 50px;
  margin-left: 50px;
  width:70%
}
#work-container {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 25px;
}
#work-ilist {
  margin-left:auto;
  margin-right: auto;
}
#work-ilist li {
  display:inline;
  margin-right: 15px;
  width:50%
}
#work-ilist li img {
  border: 5px solid #000000;
  margin-bottom: 15px;
}

#work-ilist li img:hover {
  opacity: 0.3;
}
