* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
}

#siteheader {
  margin-top: 25px;
  margin-left: 50px;
}
.siteheader {
  display:inline-block;
}
#siteheader-svg {
  margin-left: 25px;
  margin-right: 25px;
}
#home-link {
  margin-left: 25px;
}
#siteheader-list {
  margin-left: 25px;
}
#siteheader-list li {
  display:inline;
  margin-left: 25px;
}
