body {
  padding-top: 50px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.navbar {
  background-color: #428bca;
}
.navbar-header > a{
	color:#333;
}
.nav > li > a {
	color:#333;
}
.nav >li > a:hover {
	background-color: #428bca;
	color:#ffffff;
}

.home-main {
	padding-top: 20px;
}

.home-chunk {
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 125%;
}
.nav .open>a, .nav .open>a:hover, .open>a:visited, .nav .open>a:focus> a{
   background-color: #428bca;
}

ul.dropdown-menu {
  border:none;
}

.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 0;
  max-width: 1030px
}

#chart {
  margin-top: 15px;
  outline: 2px solid;
}

#tooltip {
        position: absolute;
        width: 200px;
        height: auto;
        padding: 10px;
        background-color: white;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        pointer-events: none;
}

#tooltip.hidden {
        display: none;
}

#tooltip > p {
        margin: 0;
        font-family: sans-serif;
}